@import "@/styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: $color-body-background;
  line-height: 1.5;

  .footer-title {
    font-size: 0.75rem;
    color: $color-accent-3;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .footer-attribution {
    color: $color-accent-1;
    font-size: 0.625rem;
    text-align: center;
    margin-bottom: 0.5rem;

    a {
      font-weight: 600;
      color: $color-accent-2;
      text-decoration: none;
      line-height: 1.4;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .footer-list {
    font-size: 0.625rem;
    color: $color-accent-1;
    text-align: center;
    list-style: none;
    padding: 0;

    li {
      margin-top: 0.3rem;

      a {
        color: $color-accent-2;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
